@keyframes iconAnimation {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(25px);
  }
  30% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(25px);
  }
  95% {
    transform: translateX(0);
  }
}

.mainContainer {
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.container {
  width: 900px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50px;
  left: 0;
}

.title {
  width: calc(100vw / 2 - 140px);
  height: 60px;
  background-color: #e91436;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  padding-right: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.vector2 {
  animation: iconAnimation 5s infinite;
}

.contentWrapper {
  margin-top: calc(100% / 2 - 320px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .gridContainer:hover {
//   background-color: #e91436;
//   color: #fff;
// }

.image {
  width: 80px;
  height: 80px;
  color: #fff;
}

.text {
  width: 180px;
  height: 60px;
  margin: 0;
  padding: 0;
  color: #000;
  margin-top: 10px;
  text-align: center;
  margin-top: 20px;
}

.button {
  width: 180px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #e91436;
  border: none;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.buttonText {
  margin: 0;
  padding: 0;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  white-space: nowrap;
  margin-left: 50px;
  margin-top: 5px;
}

.buttonVector1 {
  margin-left: 47px;
  height: 30px;
}

.buttonVector2 {
  height: 30px;
  animation: iconAnimation 5s infinite;
}

@media screen and (max-width: 930px) {
  .mainContainer {
    height: 900px;
  }

  .title {
    width: calc(100vw / 2 - 20px);
    height: 60px;
    font-size: 22px;
    line-height: 22px;
  }

  .contentWrapper {
    margin-top: calc(100% / 2 - 280px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 630px) {
  .mainContainer {
    height: 1300px;
  }

  .title {
    width: calc(100vw / 2 + 50px);
    height: 60px;
    font-size: 16px;
    line-height: 22px;
    padding-right: 0;
  }

  .contentWrapper {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
