.section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.itemContainerLeft {
  flex-direction: row;
}

.itemContainerRight {
  flex-direction: row-reverse;
}

.imageContainer {
  position: relative;
  width: 250px;
  height: 210px;
  pointer-events: none;
}

.itemImage {
  width: 250px;
  height: 210px;
  object-fit: contain;
  object-position: center;
}

.textContainer {
  width: 600px;
}

.image {
  width: 250px;
  height: 210px;
  object-fit: cover;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 15px;
}

.text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  margin: 5px 12px;
}

.text::first-letter {
  margin-left: 20px;
}

@media screen and (max-width: 930px) {
  .container {
    width: 600px;
  }

  .itemContainer {
    width: 600px;
  }

  .textContainer {
    width: 400px;
  }

  .imageContainer {
    width: 200px;
    height: 150px;
  }

  .itemImage {
    width: 200px;
    height: 150px;
  }
}

@media screen and (max-width: 630px) {
  .container {
    width: 300px;
  }

  .itemContainer {
    width: 300px;
    flex-direction: column;
  }
  .itemContainerLeft {
    flex-direction: column;
  }

  .itemContainerRight {
    flex-direction: column;
  }

  .textContainer {
    width: 300px;
  }

  .imageContainer {
    width: 250px;
    height: 210px;
  }

  .itemImage {
    width: 250px;
    height: 210px;
  }
}
